@model List<MCHub.Data.Model.MetadataItem>
@{
    ViewBag.Title = "Index";
}

<h2>Recently Recorded</h2>


<div class="row">

    @foreach (var file in Model)
    {

        Html.RenderPartial("~/Views/Shared/_MetadataDetail.cshtml", file);
       // <p>@file.Title - @file.Description </p>
    }


</div>